recipebook/.env
recipebook/recipebook/.env
recipebook/__pycache__
recipebook/db.sqlite3
recipebook/ledger/__pycache__
*.sqlite3
__pycache__
recipebook/ledger/__pycache__
recipebook-decastro-beatricenoelle\__pycache__
recipebook/accounts/__pycache__
recipebook/accounts/migrations/__pycache__
